@import 'tools';

.main {
  padding: 97px 55px 0;
  .main-header {
    display: flex;

    .main-header__title {
      padding: 32px 0 51px 20px;
      font-size: 4.0625rem;
      font-weight: 600;
      line-height: 70px;
    }

    .content-about {
      padding: 0 68px 51px 20px;
      font-size: 1.5625rem;
      font-weight: 400;
      line-height: 35px;
    }

    .main-header-picture {
      width: 759px;
      padding: 54px 12px 182px 0;
    }
  }
  .buttons-wrap {
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 25px;
  }

  .content-warn {
    display: block;
    padding: 0 0 172px 20px;
    font-size: 0.9375rem;
    line-height: 25px;
  }
}
