// Imports
@import 'tools';
@import 'mixins';

// Main colors group
.main-second-block,
.main-ninth-block {
  background-color: $uncommon-color;
}

.main__title,
.main__text,
.main__link,
.container__word,
.fifth-block__link,
.ninth-block__title {
  color: $additional-color;
}

.wrap-container,
.main-fourth-block {
  background-color: $secondary-color;
}

.eighth-block__button,
.ninth-block__button {
  color: $main-color;
  cursor: pointer;
}

// Main

.main {
  margin: 0 auto;
  padding: 97px 4% 0;
  overflow: hidden;
  .main-first-block {
    display: flex;

    .main-first__title {
      @include font(4.0625rem, 600, 70px);
      padding: 32px 0 51px 1.5%;
    }

    .content-about {
      padding: 0 5% 51px 1.5%;
      @include font(1.5625rem, 400, 35px);
    }

    .main-first__picture {
      width: 53%;
      padding: 54px 1% 182px 0;
    }
  }
  .buttons-wrap {
    justify-content: flex-start;
    padding-left: 1%;
    padding-bottom: 2%;
  }

  .sixth-block__text,
  .seventh-block__signature,
  .content-warn {
    @include font(0.9375rem, 400, 25px);
  }

  .content-warn {
    display: block;
    padding: 0 0 172px 2%;
  }

  .main-second-block {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;

    .main__title {
      padding: 108px 19% 70px 27%;
    }

    .main-second-img {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 104px;
    }
  }

  .main__title,
  .main-fourth__title,
  .main-fifth__title {
    @include font(3.125rem, 600, 60px);
  }

  .main-third-block {
    margin-top: 450px;

    .third-block__container {
      display: flex;
      align-items: center;
      padding: 125px 2%;

      .main__article {
        order: 1;
        padding-right: 13%;

        .main__title {
          padding-bottom: 30px;
        }

        .main__text {
          padding-bottom: 30px;

          .article__span {
            font-weight: 400;
            text-decoration: underline;
          }
        }

        .main__link {
          text-decoration: none;
          cursor: pointer;
          @include font(1.25rem, 600, 30px);
          &:hover {
            text-decoration: underline;
            transition: all 1s;
          }
        }
      }

      .article__img {
        width: 44%;
        order: 2;
      }

      .main__article--mod {
        order: 2;
        padding-left: 11%;

        .article__link {
          text-decoration: none;
          color: $additional-color;
        }
      }

      .article__img--mod {
        order: 1;
      }

      .wrap-container {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 161.5%;
        height: 577px;

        .wrap-content {
          width: 83%;
          height: 300px;
          background-color: $main-color;

          .container__variable {
            display: inline-block;
            color: $variable-color;
            padding: 37px 2% 30px 6%;
          }

          .container__variable-spec {
            padding: 0;
          }

          .container__variable--mod {
            padding-left: 0;
            padding-bottom: 0;
          }

          .container__variable--add {
            padding-bottom: 0;
          }

          .container__variable--chan {
            padding: 0 0 0 11%;
          }

          .container__symbols {
            color: $symbols-color;
            padding-right: 1%;
          }

          .container__symbols--spec {
            padding: 0;
          }

          .container__symbols--mod {
            padding-right: 10%;
          }

          .container__symbols--add {
            padding-right: 28%;
          }

          .container__symbols--chan {
            padding-right: 57%;
          }

          .container__symbols--conv {
            padding-left: 11%;
            padding-right: 70%;
          }

          .container__symbols--trans {
            padding-right: 41%;
            padding-left: 1%;
          }

          .container__way {
            color: $way-color;
            padding-right: 5%;
          }

          .container__way--mod,
          .container__way--spec {
            color: $random-color;
          }

          .container__way--mod {
            padding-right: 0;
          }

          .container__format {
            color: #00f;
          }

          .container__format--spec {
            padding-left: 17%;
            padding-right: 1%;
          }

          .container__symbols--switch {
            padding-left: 15%;
            padding-bottom: 4%;
          }
        }
      }
    }

    .third-block__container--spec {
      padding-top: 90px;
    }

    .third-block__container--mod {
      padding-bottom: 150px;
    }
  }

  .main-fourth-block,
  .main-fifth-block,
  .main-sixth-block,
  .main-seventh-block,
  .main-eighth-block,
  .main-ninth-block {
    position: relative;
  }

  .main-fourth-block {
    left: -60px;
    width: 109%;
    text-align: center;

    .main-fourth__title {
      padding: 120px 17% 79px;
    }

    .fourth-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .fourth-block__container {
        width: 25%;

        .fourth-block__img {
          padding: 0 28% 26px;
        }

        .fourth-block__title {
          @include font(1.5625rem, 600, 35px);
          padding-bottom: 25px;
        }

        .fourth-block__text {
          @include font(1.125rem, 400, 25px);
          padding-bottom: 54px;
        }
      }
    }

    .fourth-wrap--spec {
      padding-bottom: 147px;
    }
  }
  .main-fifth-block {
    text-align: center;
    padding-bottom: 217px;

    .main-fifth__title {
      padding: 154px 2% 0px;
    }

    .main__link {
      text-decoration: underline;
    }

    .fifth-wrap {
      display: flex;
      text-align: left;

      .fifth-block__img {
        padding-top: 92px;
        padding-bottom: 67px;
      }
      .fifth-block__img--spec {
        padding-top: 75px;
        padding-bottom: 49px;
      }
      .fifth-block__img--mod {
        padding-top: 84px;
        padding-bottom: 58px;
      }
      .fifth-block__title {
        @include font(1.875rem, 600, 40px);
        padding-bottom: 34px;
      }

      .fifth-block__text {
        padding-right: 7%;
        padding-bottom: 25px;
      }

      .fifth-block__link {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .main__text,
  .fifth-block__text,
  .fifth-block__link,
  .ninth-block__text {
    @include font(1.25rem, 400, 30px);
  }

  .main-sixth-block {
    display: flex;
    width: 109%;
    background-color: #c9e8f2;
    left: -60px;

    .sixth-block__article {
      padding: 63px 4% 23px 5%;
      @include font(1.875rem, 400, 40px);
    }

    .sixth-block__text {
      padding: 0 49% 7px 5%;
    }

    .sixth-block__article-img {
      padding: 0 60% 165px 5%;
    }
  }
  .sixth-block__container--spec {
    padding: 53px 5% 105px 0;

    .sixth-block__img {
      width: 100%;
    }
  }

  .main-seventh-block {
    display: flex;
    justify-content: space-between;
    left: -60px;
    width: 109%;
    background-color: #dabc98;

    .seventh-block__container {
      display: flex;
      align-items: center;

      .seventh-block__img {
        padding: 90px 5% 88px 4%;
      }

      .seventh-block__text {
        @include font(2.1875rem, 600, 50px);
        padding: 47px 9% 31px 0;
        border-right: 1px solid $additional-color;
      }
    }

    .seventh-block__container--spec {
      padding: 110px 10% 106px 5%;
    }
    .seventh-block__rating {
      display: flex;
      flex-direction: column;
      padding-right: 5%;

      .seventh-block__logo {
        padding-bottom: 20px;
      }
      .seventh-block__stars {
        padding-bottom: 14px;
      }

      .seventh-block__signature {
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
  }

  .ninth-block__title,
  .eighth-block__title {
    @include font(4.0625rem, 600, 75px);
  }

  .main-eighth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 162px;

    .eighth-block__title {
      text-align: center;
      padding: 169px 20% 0;
    }

    .eighth-block__text {
      @include font(1.5625rem, 400, 30px);
      text-align: center;
      width: 37%;
    }

    .eighth-block__img-container {
      padding: 25px 12% 32px;

      .eighth-block__img {
        width: 100%;
        border: 2px solid #c9e8f2;
      }
    }

    .eighth-block__button {
      @include font(1rem, 600, 60px);
      text-align: center;
      background-color: $special-color;
      padding: 0 2%;
    }

    .eighth-block__button:hover {
      transform: scale(1.1);
      transition: all 1s;
    }
  }

  .main-ninth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -60px;
    width: 109%;
    text-align: center;
    padding-bottom: 161px;

    .ninth-block__title {
      padding: 119px 23% 29px;
    }

    .ninth-block__text {
      padding: 0 35% 54px;
    }

    .ninth-block__button {
      @include font(1.0625rem, 600, 60px);
      text-align: center;
      background-color: $additional-color;
      padding: 0 3%;
    }

    .ninth-block__button:hover {
      transform: scale(1.1);
      transition: all 1s;
    }
  }
}
