@import 'tools';

.main {
  padding: 97px 55px 0;
  .main-first-block {
    display: flex;

    .main-first__title {
      padding: 32px 0 51px 20px;
      font-size: 4.0625rem;
      font-weight: 600;
      line-height: 70px;
    }

    .content-about {
      padding: 0 68px 51px 20px;
      font-size: 1.5625rem;
      font-weight: 400;
      line-height: 35px;
    }

    .main-first__picture {
      width: 759px;
      padding: 54px 12px 182px 0;
    }
  }
  .buttons-wrap {
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 25px;
  }

  .content-warn {
    display: block;
    padding: 0 0 172px 20px;
    font-size: 0.9375rem;
    line-height: 25px;
  }

  .main-second-block {
    position: absolute;
    background-color: $uncommon-color;
    width: 100vw;
    left: 0;
    text-align: center;

    .main__title {
      padding: 108px 250px 70px 360px;
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
    }

    .main-second-img {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 104px;
    }
  }

  .main-third-block {
    // display: flex;
    position: relative;
    top: 455px;

    .third-block__container {
      display: flex;
      align-items: center;
      padding: 125px 20px;

      .main__article {
        order: 1;
        padding-right: 165px;

        .main__title {
          color: $additional-color;
          font-size: 3.125rem;
          font-weight: 600;
          line-height: 60px;
          padding-bottom: 30px;
        }

        .main__text {
          color: $additional-color;
          font-size: 1.25rem;
          line-height: 30px;
          padding-bottom: 30px;

          .article__span {
            text-decoration: underline;
          }
        }

        .main__link {
          text-decoration: none;
          font-size: 20px;
          font-weight: 600;
          color: $additional-color;
          line-height: 30px;
        }
      }

      .article__img {
        width: 632px;
        order: 2;

        .third-block__img {
          width: 632px;
        }
      }

      .main__article--mod {
        order: 2;
        padding-left: 138px;
      }

      .article__img--mod {
        order: 1;
      }

      .wrap-container {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2326.6px;
        height: 577px;
        background-color: $secondary-color;

        .wrap-content {
          width: 500px;
          height: 260px;
          background-color: #fff;

          .container__variable {
            display: inline-block;
            color: $variable-color;
            padding: 37px 10px 30px 37px;
          }

          .container__variable-spec {
            padding: 0;
          }

          .container__variable--mod {
            padding-left: 0;
            padding-bottom: 0;
          }

          .container__variable--add {
            padding-bottom: 0;
          }

          .container__variable--chan {
            padding: 0 0 0 69px;
          }

          .container__symbols {
            color: $symbols-color;
            padding-right: 8px;
          }

          .container__symbols--spec {
            padding: 0;
          }

          .container__symbols--mod {
            padding-right: 63px;
          }

          .container__symbols--add {
            padding-right: 167px;
          }

          .container__symbols--chan {
            padding-right: 343px;
          }

          .container__symbols--conv {
            padding-left: 69px;
            padding-right: 423px;
          }

          .container__symbols--trans {
            padding-right: 247px;
            padding-left: 8px;
          }

          .container__word {
            color: $additional-color;
          }

          .container__way {
            color: $way-color;
            padding-right: 30px;
          }

          .container__way--mod,
          .container__way--spec {
            color: $random-color;
          }

          .container__way--mod {
            padding-right: 0;
          }

          .container__format {
            color: #00f;
          }

          .container__format--spec {
            padding-left: 101px;
            padding-right: 8px;
          }

          .container__symbols--switch {
            padding-left: 37px;
            padding-bottom: 23px;
          }
        }
      }
    }

    .third-block__container--spec {
      padding-top: 90px;
    }

    .third-block__container--mod {
      padding-bottom: 150px;
    }
  }

  .main-fourth-block {
    position: relative;
    top: 450px;
    left: -55px;
    width: 100vw;
    background-color: $secondary-color;
    text-align: center;

    .main-fourth__title {
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 60px;
      padding: 120px 220px 79px;
    }

    .fourth-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .fourth-block__container {
        width: 330px;

        .fourth-block__img {
          padding: 0 85px 26px;
        }

        .fourth-block__title {
          font-size: 1.5625rem;
          font-weight: 600px;
          line-height: 35px;
          padding-bottom: 25px;
        }

        .fourth-block__text {
          font-size: 1.125rem;
          padding-bottom: 54px;
        }
      }
    }

    .fourth-wrap--spec {
      padding-bottom: 147px;
    }
  }
  .main-fifth-block {
    position: relative;
    top: 450px;
    text-align: center;
    padding-bottom: 217px;

    .main-fifth__title {
      padding: 154px 23px 0px 20px;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 60px;
    }

    .fifth-wrap {
      display: flex;
      text-align: left;

      .fifth-block__img {
        padding-top: 92px;
        padding-bottom: 67px;
      }
      .fifth-block__img--spec {
        padding-top: 75px;
        padding-bottom: 49px;
      }
      .fifth-block__img--mod {
        padding-top: 84px;
        padding-bottom: 58px;
      }
      .fifth-block__title {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 40px;
        padding-bottom: 34px;
      }

      .fifth-block__text {
        font-size: 1.25rem;
        line-height: 30px;
        padding-right: 31px;
        padding-bottom: 25px;
      }

      .fifth-block__link {
        font-size: 1.25rem;
        text-decoration: underline;
        line-height: 30px;
        color: $additional-color;
        font-weight: 400;
      }
    }
  }

  .main-sixth-block {
    display: flex;
    width: 100vw;
    background-color: #c9e8f2;
    position: relative;
    top: 450px;
    left: -55px;

    .sixth-block__article {
      padding: 63px 60px 23px 75px;
      font-size: 1.875rem;
      line-height: 40px;
    }

    .sixth-block__text {
      font-size: 0.9375rem;
      line-height: 25px;
      padding: 0 709px 7px 75px;
    }

    .sixth-block__article-img {
      padding: 0 865px 165px 75px;
    }
  }
  .sixth-block__container--spec {
    padding: 53px 75px 105px 0;

    .sixth-block__img {
      width: 310px;
    }
  }

  .main-seventh-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 450px;
    left: -55px;
    width: 100vw;
    background-color: #dabc98;

    .seventh-block__container {
      display: flex;
      align-items: center;

      .seventh-block__img {
        padding: 90px 67px 88px 54px;
      }

      .seventh-block__text {
        font-size: 2.1875rem;
        font-weight: 600;
        line-height: 50px;
        // width: 461px;
        padding: 47px 125px 31px 0;
        border-right: 1px solid $additional-color;
      }
    }

    .seventh-block__container--spec {
      padding: 110px 138px 106px 71px;
    }
    .seventh-block__rating {
      display: flex;
      flex-direction: column;
      padding-right: 70px;

      .seventh-block__logo {
        padding-bottom: 20px;
      }
      .seventh-block__stars {
        padding-bottom: 14px;
      }

      .seventh-block__signature {
        font-size: 0.9375rem;
        line-height: 25px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
  }

  .main-eighth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 450px;
    padding-bottom: 162px;

    .eighth-block__title {
      text-align: center;
      padding: 169px 250px 0;
      font-size: 4.0625rem;
      font-weight: 600;
      line-height: 75px;
    }

    .eighth-block__text {
      text-align: center;
      font-size: 1.5625rem;
      line-height: 30px;
      width: 539px;
    }

    .eighth-block__img-container {
      padding: 25px 134px 32px;

      .eighth-block__img {
        width: 1023px;
        border: 2px solid #c9e8f2;
      }
    }

    .eighth-block__button {
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      line-height: 60px;
      color: $main-color;
      background-color: $special-color;
      padding: 0 20px;
    }

    .eighth-block__button:hover {
      transform: scale(1.1);
      transition: all 1s;
    }
  }

  .main-ninth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 450px;
    left: -55px;
    width: 100vw;
    text-align: center;
    background-color: $uncommon-color;
    padding-bottom: 161px;

    .ninth-block__title {
      font-size: 4.0625rem;
      font-weight: 600;
      line-height: 75px;
      color: $additional-color;
      padding: 119px 328px 29px;
    }

    .ninth-block__text {
      font-size: 1.25rem;
      line-height: 30px;
      padding: 0 501px 54px;
    }

    .ninth-block__button {
      text-align: center;
      font-size: 1.0625rem;
      font-weight: 600;
      line-height: 60px;
      color: $main-color;
      background-color: $additional-color;
      padding: 0 40px;
    }

    .ninth-block__button:hover {
      transform: scale(1.1);
      transition: all 1s;
    }
  }
}
