@font-face {
  font-family: "Graphik LC Web";
  src: url("GraphikLCWeb-Medium.eot");
  src: url("GraphikLCWeb-Medium.eot?#iefix") format("embedded-opentype"), url("GraphikLCWeb-Medium.woff2") format("woff2"), url("GraphikLCWeb-Medium.woff") format("woff"), url("GraphikLCWeb-Medium.ttf") format("truetype"), url("GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Graphik LC Web", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header .nav {
  display: flex;
}
.header .nav .menu__logo {
  padding: 34px 22px 33px 51px;
}
.header .nav .menu__logo .logo__item {
  width: 130px;
}
.header .nav .menu {
  display: flex;
  font-size: 0.9375rem;
  line-height: 20px;
}
.header .nav .menu__item {
  padding: 39px 28px 36px 29px;
}
.header .nav .menu__item:hover {
  transform: scale(1.1);
  transition: all 1s;
  background-color: #e7e6e6;
  border-radius: 0 0 10px 10px;
}
.header .nav .menu__link {
  color: #000;
  cursor: pointer;
}

.buttons-wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 51px;
}
.buttons-wrap .button {
  background-color: #fff;
  cursor: pointer;
  line-height: 45px;
  font-size: 1rem;
  font-weight: 600;
  padding: 1px 36px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.buttons-wrap .button:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.buttons-wrap .button--spec {
  background-color: #ff6336;
  border: none;
  color: #fff;
  padding: 0 22px 0 21px;
}
.buttons-wrap .button--mod {
  background-color: #ff6336;
  border: none;
  color: #fff;
  padding: 0 41px 0 42px;
}
.buttons-wrap .button--add {
  padding: 1px 29px;
}

.main-second-block,
.main-ninth-block {
  background-color: #ff9c7d;
}

.main__title,
.main__text,
.main__link,
.container__word,
.fifth-block__link,
.ninth-block__title {
  color: #000;
}

.wrap-container,
.main-fourth-block {
  background-color: #fff8e4;
}

.eighth-block__button,
.ninth-block__button {
  color: #fff;
  cursor: pointer;
}

.main {
  padding: 97px 55px 0;
  overflow: hidden;
}
.main .main-first-block {
  display: flex;
}
.main .main-first-block .main-first__title {
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 70px;
  padding: 32px 0 51px 20px;
}
.main .main-first-block .content-about {
  padding: 0 68px 51px 20px;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 35px;
}
.main .main-first-block .main-first__picture {
  width: 759px;
  padding: 54px 12px 182px 0;
}
.main .buttons-wrap {
  justify-content: flex-start;
  padding-left: 10px;
  padding-bottom: 25px;
}
.main .sixth-block__text,
.main .seventh-block__signature,
.main .content-warn {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 25px;
}
.main .content-warn {
  display: block;
  padding: 0 0 172px 20px;
}
.main .main-second-block {
  position: absolute;
  width: 100vw;
  left: 0;
  text-align: center;
}
.main .main-second-block .main__title {
  padding: 108px 250px 70px 360px;
}
.main .main-second-block .main-second-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 104px;
}
.main .main__title,
.main .main-fourth__title,
.main .main-fifth__title {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
}
.main .main-third-block {
  margin-top: 450px;
}
.main .main-third-block .third-block__container {
  display: flex;
  align-items: center;
  padding: 125px 20px;
}
.main .main-third-block .third-block__container .main__article {
  order: 1;
  padding-right: 165px;
}
.main .main-third-block .third-block__container .main__article .main__title {
  padding-bottom: 30px;
}
.main .main-third-block .third-block__container .main__article .main__text {
  padding-bottom: 30px;
}
.main .main-third-block .third-block__container .main__article .main__text .article__span {
  text-decoration: underline;
}
.main .main-third-block .third-block__container .main__article .main__link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
.main .main-third-block .third-block__container .main__article .main__link:hover {
  text-decoration: underline;
  transition: all 1s;
}
.main .main-third-block .third-block__container .article__img {
  width: 632px;
  order: 2;
}
.main .main-third-block .third-block__container .article__img .third-block__img {
  width: 632px;
}
.main .main-third-block .third-block__container .main__article--mod {
  order: 2;
  padding-left: 138px;
}
.main .main-third-block .third-block__container .article__img--mod {
  order: 1;
}
.main .main-third-block .third-block__container .wrap-container {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2326.6px;
  height: 577px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content {
  width: 500px;
  height: 260px;
  background-color: #fff;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__variable {
  display: inline-block;
  color: #008;
  padding: 37px 10px 30px 37px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__variable-spec {
  padding: 0;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__variable--mod {
  padding-left: 0;
  padding-bottom: 0;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__variable--add {
  padding-bottom: 0;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__variable--chan {
  padding: 0 0 0 69px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols {
  color: #393;
  padding-right: 8px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--spec {
  padding: 0;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--mod {
  padding-right: 63px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--add {
  padding-right: 167px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--chan {
  padding-right: 343px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--conv {
  padding-left: 69px;
  padding-right: 423px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--trans {
  padding-right: 247px;
  padding-left: 8px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__way {
  color: #9876aa;
  padding-right: 30px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__way--mod,
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__way--spec {
  color: #004000;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__way--mod {
  padding-right: 0;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__format {
  color: #00f;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__format--spec {
  padding-left: 101px;
  padding-right: 8px;
}
.main .main-third-block .third-block__container .wrap-container .wrap-content .container__symbols--switch {
  padding-left: 37px;
  padding-bottom: 23px;
}
.main .main-third-block .third-block__container--spec {
  padding-top: 90px;
}
.main .main-third-block .third-block__container--mod {
  padding-bottom: 150px;
}
.main .main-fourth-block,
.main .main-fifth-block,
.main .main-sixth-block,
.main .main-seventh-block,
.main .main-eighth-block,
.main .main-ninth-block {
  position: relative;
}
.main .main-fourth-block {
  left: -55px;
  width: 100vw;
  text-align: center;
}
.main .main-fourth-block .main-fourth__title {
  padding: 120px 220px 79px;
}
.main .main-fourth-block .fourth-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .main-fourth-block .fourth-wrap .fourth-block__container {
  width: 330px;
}
.main .main-fourth-block .fourth-wrap .fourth-block__container .fourth-block__img {
  padding: 0 85px 26px;
}
.main .main-fourth-block .fourth-wrap .fourth-block__container .fourth-block__title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 35px;
  padding-bottom: 25px;
}
.main .main-fourth-block .fourth-wrap .fourth-block__container .fourth-block__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 54px;
}
.main .main-fourth-block .fourth-wrap--spec {
  padding-bottom: 147px;
}
.main .main-fifth-block {
  text-align: center;
  padding-bottom: 217px;
}
.main .main-fifth-block .main-fifth__title {
  padding: 154px 23px 0px 20px;
}
.main .main-fifth-block .fifth-wrap {
  display: flex;
  text-align: left;
}
.main .main-fifth-block .fifth-wrap .fifth-block__img {
  padding-top: 92px;
  padding-bottom: 67px;
}
.main .main-fifth-block .fifth-wrap .fifth-block__img--spec {
  padding-top: 75px;
  padding-bottom: 49px;
}
.main .main-fifth-block .fifth-wrap .fifth-block__img--mod {
  padding-top: 84px;
  padding-bottom: 58px;
}
.main .main-fifth-block .fifth-wrap .fifth-block__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 34px;
}
.main .main-fifth-block .fifth-wrap .fifth-block__text {
  padding-right: 31px;
  padding-bottom: 25px;
}
.main .main-fifth-block .fifth-wrap .fifth-block__link {
  text-decoration: underline;
  cursor: pointer;
}
.main .main__text,
.main .fifth-block__text,
.main .fifth-block__link,
.main .ninth-block__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
}
.main .main-sixth-block {
  display: flex;
  width: 100vw;
  background-color: #c9e8f2;
  left: -55px;
}
.main .main-sixth-block .sixth-block__article {
  padding: 63px 60px 23px 75px;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 40px;
}
.main .main-sixth-block .sixth-block__text {
  padding: 0 709px 7px 75px;
}
.main .main-sixth-block .sixth-block__article-img {
  padding: 0 865px 165px 75px;
}
.main .sixth-block__container--spec {
  padding: 53px 75px 105px 0;
}
.main .sixth-block__container--spec .sixth-block__img {
  width: 310px;
}
.main .main-seventh-block {
  display: flex;
  justify-content: space-between;
  left: -55px;
  width: 100vw;
  background-color: #dabc98;
}
.main .main-seventh-block .seventh-block__container {
  display: flex;
  align-items: center;
}
.main .main-seventh-block .seventh-block__container .seventh-block__img {
  padding: 90px 67px 88px 54px;
}
.main .main-seventh-block .seventh-block__container .seventh-block__text {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 50px;
  padding: 47px 125px 31px 0;
  border-right: 1px solid #000;
}
.main .main-seventh-block .seventh-block__container--spec {
  padding: 110px 138px 106px 71px;
}
.main .main-seventh-block .seventh-block__rating {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.main .main-seventh-block .seventh-block__rating .seventh-block__logo {
  padding-bottom: 20px;
}
.main .main-seventh-block .seventh-block__rating .seventh-block__stars {
  padding-bottom: 14px;
}
.main .main-seventh-block .seventh-block__rating .seventh-block__signature {
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.main .ninth-block__title,
.main .eighth-block__title {
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 75px;
}
.main .main-eighth-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 162px;
}
.main .main-eighth-block .eighth-block__title {
  text-align: center;
  padding: 169px 250px 0;
}
.main .main-eighth-block .eighth-block__text {
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 539px;
}
.main .main-eighth-block .eighth-block__img-container {
  padding: 25px 134px 32px;
}
.main .main-eighth-block .eighth-block__img-container .eighth-block__img {
  width: 1023px;
  border: 2px solid #c9e8f2;
}
.main .main-eighth-block .eighth-block__button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  background-color: #ff6336;
  padding: 0 20px;
}
.main .main-eighth-block .eighth-block__button:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.main .main-ninth-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: -55px;
  width: 100vw;
  text-align: center;
  padding-bottom: 161px;
}
.main .main-ninth-block .ninth-block__title {
  padding: 119px 328px 29px;
}
.main .main-ninth-block .ninth-block__text {
  padding: 0 501px 54px;
}
.main .main-ninth-block .ninth-block__button {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  background-color: #000;
  padding: 0 40px;
}
.main .main-ninth-block .ninth-block__button:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.footer__block,
.nav__link {
  color: #000;
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #eee;
}
.footer .footer__section {
  display: flex;
  flex-direction: column;
  padding: 92px 75px 0;
}
.footer .footer__section .footer__block {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
}
.footer .footer__section .footer__block .footer__container {
  padding-right: 70px;
}
.footer .footer__section .footer__block .footer__container .footer__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
  padding-bottom: 28px;
}
.footer .footer__section .footer__block .footer__container .footer__container__img {
  display: block;
  border: 1px solid #000;
}
.footer .footer__section .footer__block .footer__container .footer__container__logo {
  display: block;
  padding-top: 31px;
}
.footer .footer__section .footer__block .footer__container .footer__container__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  width: 290px;
  padding: 11px 0 15px;
}
.footer .footer__section .footer__block .footer__container .footer__container__button {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  background-color: #eee;
  padding-bottom: 95px;
}
.footer .footer__section .footer__block .footer__container .footer__container__button:hover {
  text-decoration: underline;
  transition: all 1s;
}
.footer .footer__section .footer__block--spec {
  display: flex;
  justify-content: space-between;
}
.footer .footer__section .footer__block--spec .footer__block__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 53px 700px 43px 0;
}
.footer .footer__section .footer__block--spec .footer__block__container .footer__block__logo {
  padding-right: 14px;
}
.footer .footer__section .footer__block--spec .footer__block__container .footer__block__text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
  width: 301px;
}
.footer .footer__section .footer__block--spec .footer__block__container--spec {
  display: flex;
  flex-direction: column;
}
.footer .footer__section .footer__container--spec {
  display: flex;
  padding: 5px 20px 391px 70px;
}
.footer .footer__section .footer__container--spec .nav__title--spec {
  padding-left: 32px;
}
.footer .footer__section .footer__container--spec .nav__menu {
  padding: 21px 75px 0 0;
}
.footer .footer__section .footer__container--spec .nav__menu .nav__menu__item {
  padding-bottom: 15px;
}
.footer .footer__section .footer__container--spec .nav__menu .nav__menu__item .nav__link {
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 15px;
}
.footer .footer__section .footer__container--spec .nav__menu .nav__menu__item .nav__link:hover {
  text-decoration: underline;
  transition: all 1s;
}
.footer .footer__section .footer__container--spec .nav__menu--spec {
  padding: 21px 17px 0 34px;
}
.footer .footer__section .footer__container--spec .nav__menu--mod {
  padding: 21px 28px 0 34px;
}
.footer .footer__section .footer__container--spec .nav__menu--add {
  padding: 21px 20px 0 34px;
}/*# sourceMappingURL=style.css.map */